@model Quiz.ViewModel.CreateQuizViewModel
@{
    ViewBag.Title = "CreateQuiz";
}

<h2>Create Quiz</h2>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Save", "Home"))
    {
        <div class="form-group">
            <h3>@Model.question.question</h3>
            @Html.RadioButtonFor(m => m.answer, Model.question.option1, new { @Id = "option1" })
            <label for="option1">@Model.question.option1</label>

            @Html.RadioButtonFor(m => m.answer, Model.question.option2, new { @Id = "option2" })
            <label for="option2">@Model.question.option2</label>

        </div>
        @Html.HiddenFor(m => m.UserId)
        @Html.HiddenFor(m => m.question.Id)
        <button type="submit" class="btn btn-primary">next</button>

}
    </div>
</div>
